#resume {
    font-family: Hack, monospace;
}
p.resume {
    font-size: 13px;
}
li.resume {
    font-size: 13px;
}
h3.resume {
    font-size: 19px !important;
}
h4.resume {
    font-size: 14px !important;
    line-height: 18px;
}
.skills {
    margin-top: 120px;
}
