---
layout: default
---

<div class="home">


  <div class="blog-index">  
    {% assign post = site.posts.first %}
    {% assign content = post.content %}
    {% include post_detail.html %}
  </div>
  <div>...</div>
  <ul class="post-list">
    {% for post in site.posts limit: 3 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
            <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

        </article>
      </li>
    {% endfor %}
  </ul>

</div>
<div class="infinite-spinner"></div>
